@media only screen and (orientation:portrait) {
li{
    display: inline-block;
    border: 2px dotted blueviolet;
    padding: 5px;
    margin: 2em;
    border-radius: 10%;
    height: 20px;
}
}

@media only screen and (orientation:landscape) {
li{
    display: inline-block;
    border: 2px dotted blue;
    padding: 5px;
    margin: 2em;
    border-radius: 10%;
    height: 20px;
} 
}


